html, body, div, p, table, tr, td, th, tbody, tfoot, ul, li, ol, dl, dd, dt, fieldset, blockquote, cite, input, select, textarea, button, a, section, article, aside, header, footer, nav, span {
    font-family: 'Raleway', Aria, sans-serif;
    font-size: 16px;
    color: #565656;
    font-weight: 300;
    line-height: 1.75em;
    -webkit-font-smoothing: antialiased !important;
}
h1, h1 span, h2, h3, h4, h5, h6, h6 a, .styled div span, .join, .btn, .phone {
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: normal;
}
.offer h1.small span{
    font-family: 'Oswald', Arial, sans-serif;
}
h1 {
    font-size: 5em;
    font-weight: 400;
    margin: 0;
    line-height: 0.85em;
    text-transform: uppercase;
}
h1 span, h2 span {
    font-family: 'Raleway', Aria, sans-serif;
    font-size: 5em;
    font-weight: bold;
}
h2 {
    font-size: 3.5em;
    font-weight: 700;
    line-height: 1.50em;
    margin: 0 0 0.35em;
    text-align: center;
    text-transform: uppercase;
}
h2 span {
    font-size: 1em;
}
h3 {
    font-size: 2.85em;
    font-weight: 300;
    margin-top:0;
    margin-bottom: 0.35em;
    text-transform: capitalize;
}
h4 {
    font-size: 1.50em;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 0.5em;
}
h5 {
    font-size: 1.35em;
    font-weight: 300;
    margin: 0.3em 0;
    text-transform: capitalize;
    letter-spacing: 1px;
}

h6 {
    font-size: 1.5em;
    font-weight: 300;
}
h6 a{
    font-weight: inherit;
    font-size: inherit;
    line-height: 25px;
}