/*
Theme Name: MCAC Tickets
Theme URI: 
Author:  
Author URI: 
Description: 
Version: 1.5.1
Tags: black, blue, gray, pink, purple, white, yellow, dark, light, two-columns, left-sidebar, fixed-layout, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, sticky-post, threaded-comments, translation-ready
Text Domain: 
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
*/
.container{
	width: 100%;
}
body.admin-bar #top{
	margin-top: 30px;
}
body.admin-bar .off-canvas-menu a.nav-expander{
	top: 30px;
}
body.admin-bar .off-canvas-menu nav.nav{
	top: 30px;
	height: calc(100%-30px);
}
article h1,
article h2,
article h3,
article h4{
	text-align: inherit;
}

.widget-wrap ul li a {
    padding: 6px 0;
}
.widget-wrap .electron-recent-posts li a{
	padding: 0;
}
.electron-recent-posts li{
	display: block;
	overflow: hidden;
	padding: 6px 0;
}
.electron-recent-posts img{
	max-width: 70px;
	margin-right: 15px;
	height: auto;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}
.electron-recent-posts .electron-post-info span{
	font-style: italic;
	font-size: 14px;
}
.widget_archive li,
.widget_categories li{
	text-align: right;
	display: block;
	overflow: hidden;
}
.widget_archive li > a,
.widget_categories li > a{
	display: inline-block;
	float: left;
}
.screen-reader-text{
	display: none;
}
.zframe-flickr-wrap-ltr img{
	border-radius: 3px;
	-webkit-border-radius: 3px;
}
.archive-header{
	border-bottom: 1px solid #d2dce6;
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 10px;
    width: 100%;
}
section{
	padding: 4.85em 0;
	position: relative;
}
.section-top-padding-only{
	padding-bottom: 0 !important;
}
.section-bottom-padding-only{
	padding-top: 0 !important;
}
.section-no-padding{
	padding-bottom: 0 !important;
	padding-top: 0 !important;
}
div.wpcf7-validation-errors{
	background-color: #fff;
	text-align: center;
}
span.wpcf7-not-valid-tip{
	background-color: #fff;
	padding: .5em;
	margin-bottom: 2em;
}
section > .sqaureIconSec.absolute{
	top: auto;
	bottom: -0.84em;
}
.section-connector-on{
	padding-bottom: 3em !important;
}
.post-password-input{
	height: 3.65em;
}
/*tickera*/
.coupon-code{
	display: inline-block;
}
.coupon-code input{
	line-height: 22px;
	height: auto;
}
.tickera input{
	display: inline-block;
	vertical-align: top;
}
.tickera input[type="checkbox"], 
.tickera input[type="radio"]{
	margin: 9px 10px 0 0;
}
.tickera_additional_info label input{
	width: 100%;
	margin-left: 0;
	line-height: 22px;
	height: auto;
	margin-bottom: 1em;
}
.tickera-payment-gateways{
	padding: 1.5em;
}
.tickera-payment-gateways p,
.tickera_additional_info p{
	margin-bottom: 0;
}
p.entry-footer{
	text-align: right;
	margin-top: 50px;
	width: 100%;
	overflow: hidden;
}

p.entry-footer a{
	margin-left: 5px;
	border-bottom: 1px solid #000;
}
.sticky{}
.bypostauthor{}
/**
 * 14.2 Galleries
 */

.gallery {
    margin-bottom: 30px !important;
    margin-left: -15px !important;
    margin-right: -15px !important;
}
.gallery-item {
    display: inline-block;
    padding: 15px;
    text-align: center;
    vertical-align: top;
    width: 100%;
    margin-bottom: 0;
}
.gallery-columns-2 .gallery-item {
    max-width: 50%;
}
.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
    max-width: 25%;
}
.gallery-columns-5 .gallery-item {
    max-width: 20%;
}
.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}
.gallery-icon img {
    margin: 0 auto;
    width: 100%;
    border: none !important;
}
.gallery-caption {
    display: block;
    padding: 0.5em 0;
}
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
    display: none;
}
/**
 * 8.0 Alignments
 */

.alignleft {
    display: inline;
    float: left;
}
.alignright {
    display: inline;
    float: right;
}
.aligncenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
blockquote.alignleft,
.wp-caption.alignleft,
img.alignleft {
    margin: 0.4em 1.6em 1.6em 0;
}
blockquote.alignright,
.wp-caption.alignright,
img.alignright {
    margin: 0.4em 0 1.6em 1.6em;
}
blockquote.aligncenter,
.wp-caption.aligncenter,
img.aligncenter {
    clear: both;
    margin-top: 0.4em;
    margin-bottom: 1.6em;
}
.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter {
    margin-bottom: 1.2em;
}
/**
 * 14.1 Captions
 */

.wp-caption {
    margin-bottom: 1.6em;
    max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0;
}
.wp-caption-text {
    padding: 0.5em 0;
}

.widget-wrap select{
	width: 100%;
	max-width: 100%;
	padding: 6px 3px;
	line-height: 26px;
}

.widget-wrap .recentcomments a{
	display: inline-block;
}
.widget-wrap .recentcomments .comment-author-link{
	text-transform: capitalize;
	font-weight: 400;
}
.widget-wrap cite{
	margin-bottom: 15px;
	font-weight: 400;
	display: block;
}

/* Calendar widget */
.widget_calendar table {
	margin: 0;
	width: 100%;
}

.widget_calendar th{
	font-weight: 600;
}

.widget_calendar td,
.widget_calendar th {
	line-height: 2.5625;
	padding: 0;
	text-align: center;
}

.widget_calendar caption {
	margin-bottom: 1.75em;
}

.widget_calendar tbody a {
	background-color: #007acc;
	color: #fff;
	display: block;
	font-weight: 700;
}

.widget_calendar tbody a:hover,
.widget_calendar tbody a:focus {
	background-color: #686868;
	color: #fff;
}
.modal-dialog{
	z-index: 9999;
}
.modal-dialog .close.close-btn{
	opacity: 1;
}
.modal-dialog .close.close-btn > span{
	line-height: 25px;
	font-size: 22px;
}
#slide-single.disable-border-yes .slide .slide-caption .container, 
#slides.disable-border-yes .slide .slide-caption .container,
#slide-single.disable-border-yes  .slide .slide-caption .container .box, 
#slides.disable-border-yes .slide .slide-caption .container .box{
	border: none;
}
.hide-postdate-yes .post-date{
	display: none;
}
.hide-postdate-yes .info h6,
#upcoming.hide-postdate-yes .item .info h6{
	border-bottom: none;
	margin-bottom: 0;
}

@media screen and (max-width: 425px) {
	p {
		line-height: 1.15em;
	}
}